*{
    margin: 0;
}

.top-bar{
    height: 200px;;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
}

.logo{
    height: 200px;
    width: 400px;
}

.article-head, .article, .list{
    margin: 25px 0;
}

.list{
    padding-left: 20px;
}

.subtitle, h3{
    color: #80828c;
}

figcaption{
    font-size: 10px;
}

th{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #b1e5f2;
  }

.footer-img{
    display: block;
    width: 312px;
    height: 208px;
    margin: 10px 0;
}